<!DOCTYPE html>
<html lang="en-us">

<!-- HEAD -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./images/codingwith-logo.png" type="image/x-icon">
    {{!-- autocomplete --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css">

    <title>coding with...</title>
</head>

<!-- BODY -->
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-light" 
      style='background-image: url("/images/hhholographic.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: bottom'>

    <!-- LOGO + TITLE -->
    <a class="navbar-brand order-0 h1" href="/">
        <img src="/images/codingwith-logo.png" width="40" height="40" class="d-inline-block align-top" alt="coding with logo">
        <div class="title d-inline-block ml-1">
            coding with...
        </div>
    </a>

    <!-- SEARCH BAR -->
    {{#if session.loggedIn}}
      <form class="navbar-search form-inline navbar-nav ml-auto">
          {{!-- <input class="navbar-search-input form-control" type="search" placeholder="search" aria-label="Search" maxlength="38"> --}}
          <div class="autoComplete_wrapper"></div>
        <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
        </div>
          <a href="/" id="navbar-search-btn" class="navbar-search-btn navbar-toggler" type="submit" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Advanced Search">
              <i class="fa-solid fa-magnifying-glass"></i>
          </a>
      </form>
    {{else}}
      <form class="navbar-search form-inline navbar-nav ml-auto">
          <input class="navbar-search-input form-control" type="search" placeholder="search" aria-label="Search" maxlength="38">
          <a href="/" class="navbar-search-btn" type="submit" data-toggle="modal" data-target="#login-modal">
              <i class="fa-solid fa-magnifying-glass"></i>
          </a>
      </form>
    {{/if}}

    <!-- MY PROFILE -->
    {{#if session.loggedIn}}
        <a href="/profiles/{{session.user_id}}">
        <i class="fa-solid fa-user"></i>
        </a>
    {{/if}}

    <!-- DROPDOWN MENU -->
    <a href="#" class="navbar-toggler" id="navbar-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </a>
    <div id="navbar-dropdown-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-menu">
        {{#if session.loggedIn}}
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedin" href="/profiles/{{session.user_id}}">my profile</a>
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedin" href="/profiles/{{session.user_id}}/edit">edit profile</a>
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedin" href="/account">account info</a>
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedin" href="/logout">
                <div id="log-out">log out <i class="fa-solid fa-right-from-bracket"></i></div>
            </a>
        {{else}}
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedout" href="/sign-up">create account</a>
            <a class="navbar-dropdown-item dropdown-item dropdown-loggedout" href="#">
                <div id="log-in" data-toggle="modal" data-target="#login-modal">log in <i class="fa-solid fa-right-to-bracket"></i></div>
            </a>
        {{/if}}
    </div>
</nav>

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div id="login-icon">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <h1 id="login-title">log in</h1>
          <h2 id="login-subtitle">log in to access all this site's functions</h2>
          <form class="login-form" method="post" action="/login">
            <div class="form-group">
              <label id="login-email-label" for="login-email-input">email</label>
              <input name="email" type="email" class="form-control" id="login-email-input" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label id="login-password-label" for="login-password-input">password</label>
              <input name="password" type="password" class="form-control" id="login-password-input">
            </div>
            <div class="text-center">
              <button id="login-button" type="submit" class="btn btn-primary">log in</button>
            </div>
            <div id="login-divider"></div>
            <div id="login-modal-footer" class="text-center">
              new user? <a id="login-signup" href="/sign-up">create a new account</a>!
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{!-- {{> adv-search}} --}}
{{{ body }}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
{{!-- autocomplete --}}
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script>
        // get all profile names from the api
        const getAllProfileNames = async () => {
          const response = await fetch('/api/profiles');
          const data = await response.json();
          const profileNames = data.map(profile => profile.name);
            
          const autoCompleteJS = new autoComplete({
              placeHolder: "name",
              data: {
                  src: profileNames, // ["john smith", "carl warren", "sabrina wolf", "tyler cruz", "alex goodman"],
                  cache: true,
              },
              resultItem: {
                  highlight: true
              },
              events: {
                  input: {
                      selection: (event) => {
                          const selection = event.detail.selection.value;
                          autoCompleteJS.input.value = selection;
                      }
                  }
              }
          });
          const navbar = document.getElementsByClassName('navbar')[0];
          const navSearchBtn = document.getElementById('navbar-search-btn');
          const sidebar = document.getElementById('sidebar-wrapper');
          const content = document.querySelector('main');
          const footer = document.querySelector('h5');

          // shifts main content of homepage to make room for sidebar
          function shiftContent() {
              if(sidebar.classList.contains('show')) {
                  content.style.marginLeft = '350px';
                  footer.style.marginLeft = '350px';
              } else {
                  content.removeAttribute('style');
                  footer.removeAttribute('style');
              }
          }

          function oppositeShift() {
              if(sidebar.classList.contains('show')) {
                  content.removeAttribute('style');
                  footer.removeAttribute('style');
              } else {
                  content.style.marginLeft = '350px';
                  footer.style.marginLeft = '350px';
              }
          }

          // when clicking off the sidebar, it will close
          // and content will shift
          content.addEventListener('click', () => {
              if(sidebar != null && sidebar.classList.contains('show')) {
                  sidebar.classList.remove('show');
                  shiftContent();
              } else {
                  oppositeShift();
              }
          }, {once: true});

          // when clicking on the search button, sidebar will open
          navSearchBtn.addEventListener('click', oppositeShift);
        }
        getAllProfileNames();
    </script>
    </body>
</html>