<!-- MAIN -->
<main>
    <header id="update-profile-title">update profile</header>
    <section id="update-profile-wrapper">

        <form class="update-profile-form" id="update-profile-step-2" method="post" action="/profiles/{{profile.id}}/update">
            <div class="form-group">
                <label id="update-profile-name-label" for="update-profile-picture-input">display picture</label>
                <input name="picture" type="file" class="form-control" id="update-profile-picture-input" aria-describedby="pictureHelp" accept=".jpg, .gif, .png">
            </div>
            <div class="form-group">
                <label id="update-profile-name-label" for="update-profile-name-input">name</label>
                <input name="name" value="{{profile.name}}" type="text" class="form-control" id="update-profile-name-input" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label id="update-profile-bio-label" for="update-profile-bio-input">bio</label>
                <textarea name="bio" type="textarea" class="form-control" id="update-profile-bio-input" maxlength="280">
                    {{profile.bio}}
                </textarea>
            </div>
            <div class="form-group">
                <label id="update-profile-location-label" for="update-profile-location-input">location</label>
                <input name="location" value="{{profile.location}}" type="text" class="form-control" id="update-profile-location-input">
            </div>
            <div class="form-group">
                <label id="update-profile-experience-label" for="update-profile-experience-input">experience</label>
                <input name="experience" value="{{profile.experience}}" type="text" class="form-control" id="update-profile-experience-input">
            </div>
            <div class="form-group">
                <label id="update-profile-tech-label" for="update-profile-tech-input">tech</label>
                <input name="tech" value="{{profile.tech}}" type="text" class="form-control" id="update-profile-tech-input">
            </div>
            <div class="form-group">
                <label id="update-profile-other-label" for="update-profile-other-input">other</label>
                <input name="other" value="{{profile.other}}" type="text" class="form-control" id="update-profile-other-input">
            </div>
            <div class="form-group">
                <label id="update-profile-links-label" for="update-profile-links-input">links</label>
                <input name="linkedin" value="{{profile.link.linkedin}}" type="text" class="form-control update-profile-links" id="update-profile-linkedin-input"
                placeholder="linkedin"
                >
                <input name="github" value="{{profile.link.github}}" type="text" class="form-control update-profile-links" id="update-profile-github-input"
                placeholder="github"
                >
                <input name="ig" value="{{profile.link.ig}}" type="text" class="form-control update-profile-links" id="update-profile-instagram-input"
                placeholder="instagram"
                >
                <input name="twitter" value="{{profile.link.twitter}}" type="text" class="form-control update-profile-links" id="update-profile-twitter-input"
                placeholder="twitter"
                >
                <input name="email" value="{{profile.link.email}}" type="text" class="form-control update-profile-links" id="update-profile-contact-email-input"
                placeholder="email"
                >
                <input name="website" value="{{profile.link.website}}" type="text" class="form-control update-profile-links" id="update-profile-website-input"
                placeholder="website"
                >
            </div>
            <div class="text-center">
                <button id="update-profile-finish-button" type="submit" class="btn btn-primary">update</button>
            </div>
        </form>
    </section>
</main>

{{> footer}}