
<!-- MAIN -->
<main>
    <div id="profile-page-wrapper" class="container-fluid align-middle mx-auto">
        {{#if profile.picture}}
            <img id="profile-page-picture" src="{{profile.picture}}" alt="profile image">
        {{else}}
            <img id="profile-page-picture" src="./images/default.jpg" alt="profile image">
        {{/if}}

        <header id="profile-page-name">{{profile.name}}</header>

        {{#if profile.bio}}
            <p id="profile-page-bio">{{profile.bio}}</p>
        {{/if}}

        <div id="profile-page-contents">
            {{#if profile.location}}
                <div class="profile-page-group">
                    <label id="profile-page-location-label" for="profile-page-location">location:</label>
                    <div id="profile-page-location">{{profile.location}}</div>
                </div>
            {{/if}}
            <div class="profile-page-group">
                <label id="profile-page-experience-label" for="profile-page-experience">experience:</label>
                <div id="profile-page-experience">{{profile.experience}}</div>
            </div>
            <div class="profile-page-group">
                <label id="profile-page-tech-label" for="profile-page-tech">tech:</label>
                <div id="profile-page-tech">{{profile.tech}}</div>
            </div>
            {{#if profile.other}}
                <div class="profile-page-group">
                    <label id="profile-page-other-label" for="profile-page-other">other:</label>
                    <div id="profile-page-other">{{profile.other}}</div>
                </div>
            {{/if}}
        </div>
        <container id="profile-page-links-box">
            {{#if profile.links.linkedin}}
                <a id="profile-page-linkedin" href="{{profile.links.linkedin}}">
                    <img height="20" width="20" src="https://cdn.simpleicons.org/linkedin/white" />
                </a>
            {{/if}}
            {{#if profile.links.github}}
                <a id="profile-page-github" href="{{profile.links.github}}">
                    <img height="20" width="20" src="https://cdn.simpleicons.org/github/white" />
                </a>
            {{/if}}
            {{#if profile.links.ig}}
                <a id="profile-page-ig" href="{{profile.links.ig}}">
                    <img height="20" width="20" src="https://cdn.simpleicons.org/instagram/white" />
                </a>
            {{/if}}
            {{#if profile.links.twitter}}
                <a id="profile-page-twitter" href="{{profile.links.twitter}}">
                    <img height="20" width="20" src="https://cdn.simpleicons.org/twitter/white" />
                </a>
            {{/if}}
            {{#if profile.links.email}}
                <a id="profile-page-email" href="mailto:{{profile.links.email}}">
                    <i class="fa-solid fa-at"></i>
                </a>
            {{/if}}
            {{#if profile.links.website}}
                <a id="profile-page-website" href="{{profile.links.website}}">
                    <i class="fa-solid fa-link"></i>
                </a>
            {{/if}}
        </container>
    </div>
</main>

{{> footer}}